
.shadow{
    width: 244px;
    height:161px;
    background: #CCCCCC;
    position: relative;
    /* display : inline-block; */
    top : 10px;
    left : 10px;
    border-radius: 5%;
}

.orange_box{
    background: linear-gradient(to right, #ED552F, #E8852E);
    /* background-color: yellow; */
    width : 244px;
    height: 161px;
    border-radius: 5%;
    top : -10px;
    left : -10px;
    position: relative;
}

.main_box{
    background: white;
    width : 220px;
    height: 106px;
    border-radius: 5%;
    /* display:inline-block; */

    margin-top : 20px;
    margin-left : 12px;

    /* position: relative; */
}

.login{
    color : yellow;
    font-size : 12px;

    position: relative;
    top:12px;
    left : 12px;
    font-weight: 700;

    
}
.fornone{
    width : 204px;
    height: 68px;
    border : 0px;
    border-bottom : 1px solid grey;
    margin : 0;
    padding : 0px;
    position:relative;
    /* display : block; */
    left : 8px;

}


.lower_box{
    width : 204px;
    height: 36px;
    /* background: blue; */
    /* display: inline-block; */
    /* top : 220px; */
    position:relative;
    left : 8px
}

.IDandPW{
    /* background: yellow; */
    width : 146px;
    height : 52px;
    padding-right: 8px;
    padding-top : 8px;
    padding-bottom : 8px;
    float:left;
}


.boxforID{
    /* background: green; */
    width : 146px;
    height: 24px;
    padding-bottom : 4px;
}
.ID_text{
    display : block;
    float : left;
    width : 56px;
}
.ID_box{
    float : right;
}
.ID{
    font-size: 12px;
    height: 50%;
}




.boxforPW{
    /* background: salmon; */
    width : 146px;
    height: 24px;
}
.PW{
    font-size: 12px;
    height: 50%;
}
.PW_text{
    display : block;
    float : left;
    width : 56px;
}
.PW_box{
    float : right;
}

.login_button{
    background: #ED552F;
    border-radius: 5px;

    width : 49px;
    height: 53px;
    float : right;
    margin-top : 8px;
    text-align: center;
    padding : 0px;
    font-size : 12px;
    border : 0px;
    color : white;
}



.regis{
    padding-top : 4px;
    font-size : 12px;
    font-weight: 500;
}